.icon-close {
    -fx-shape: "m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z";

    -fx-background-color: #F4F6F9;

    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}
.icon-pin {
    -fx-shape: "m260-80-40-40v-160H80v-80l60-106v-94H80v-80h360v80h-60v94l60 106v80H300v160l-40 40Zm220-80v-80h320v-480H80q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H480ZM172-360h176l-48-84v-116h-80v116l-48 84Zm88 0Z";

    -fx-background-color: #F4F6F9;

    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

.pin-icon-button:selected .icon-pin {
    -fx-background-color: #FFD700;
}

.pin-icon-button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.pin-icon-button:hover{
    -fx-background-color: rgba(232, 196, 17, 0.5);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.close-icon-button {
    -fx-background-radius: 10 0 0 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.close-icon-button:hover{
    -fx-background-color: rgba(232, 17, 35, 0.5);
}

.icon-tab-add{
    -fx-shape: "M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z";
    -fx-background-color: #F4F6F9;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

.icon-add-memo{
    -fx-shape: "M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v268q-19-9-39-15.5t-41-9.5v-243H200v560h242q3 22 9.5 42t15.5 38H200Zm0-120v40-560 243-3 280Zm80-40h163q3-21 9.5-41t14.5-39H280v80Zm0-160h244q32-30 71.5-50t84.5-27v-3H280v80Zm0-160h400v-80H280v80ZM720-40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Zm-20-80h40v-100h100v-40H740v-100h-40v100H600v40h100v100Z";
    -fx-background-color: #F4F6F9;

    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
}
.icon-delete-memo{
    -fx-shape: "M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z";
    -fx-background-color: #F4F6F9;

    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
}

.icon-setting{
    -fx-shape: "m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z";
    -fx-background-color: #F4F6F9;

    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}
