@font-face {
    font-family: 'D2Coding';
    src: url('../fonts/defaultFont.ttf');
}

.root {
    -fx-font-family: 'D2Coding';
}


.label, .button, .text-area, .text {
    -fx-font-family: 'D2Coding';
}


#rootPane{

    -fx-background-color: rgba(56, 58, 68, 0.95);//#383A44

    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-border-color: rgba(255, 255, 255, 0.15);

    -fx-border-width: 1;
}

.icon-close {
    -fx-shape: "m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z";

    -fx-background-color: #ffffff;

    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

.close-icon-button {
    -fx-background-radius: 10 0 0 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.close-icon-button:hover{
    -fx-background-color: rgba(232, 17, 35, 0.5);
}