.Tab-Frame{
    -fx-background-color: transparent;
    -fx-padding: 8 15 8 15;
    -fx-alignment: CENTER_RIGHT;
    -fx-max-width: infinity;
    -fx-spacing: 3;
}

.Tab-Btn{
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 4 4 4 4;
    -fx-min-width: 100;
    -fx-alignment: CENTER_LEFT;
    -fx-max-width: 300;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.Tab-Btn:hover{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.Tab-Btn:selected{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}
.TabAdd-Btn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-min-height: 30;
    -fx-max-height: 30;

    /* 2. 내부 아이콘이 정중앙에 오도록 정렬 */
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-padding: 0;
}

.TabAdd-Btn:hover{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 50;
}

.TabDelete-Btn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill:white;
}

.TabDelete-Btn:hover{
    -fx-text-fill: rgba(255, 0, 0, 0.82);
    -fx-font-weight: bold;
}