.Tab-Btn{
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 8 15 8 15;
    -fx-min-width: 80;
    -fx-alignment: CENTER_LEFT;
    -fx-max-width: 160;
}

.Tab-Btn:hover{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.Tab-Btn-Selected{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-padding: 8 15 8 15;
    -fx-min-width: 80;
    -fx-alignment: CENTER_LEFT;

}